/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {margin: 0;padding: 0;}

html, body {height: 100%;font-size:14px;}

body { background-color: white;font: 0.9em 'Open Sans', sans-serif;*font-size: small;padding: 1% 20% 1% 20%;
}
/*font-family: 'Yanone Kaffeesatz', sans-serif;*/
h1 {font-size: 2em;letter-spacing:0.2em;}
h2 {font-size: 1.7em;letter-spacing:0.2em;} 
h3 {font-size: 1.5em;letter-spacing:0.2em;}
h4 {font-size: 1.3em;letter-spacing:0.2em;}

/* rot FF0000 braun 993300 tomato FF6633 tan CCCC99 darksalmon FF9966 magenta FF00FF orange FF9900 green 009900*/
 
a:link{color:#CC0099; text-decoration: none;}
a:visited{color:#CC99CC; text-decoration: none;}
a:hover{color:#FF00FF; text-decoration: underline;}
a:active{color:#FF00FF; text-decoration: none;}

#outer {border: 1px solid #FF00FF;border-radius:6px;padding:9px;box-shadow: 10px 10px 5px #888888;}

hr.trenner {height:1px;color:#FF9900;}

#header {border-bottom: 1px solid orange;padding-bottom:9px;margin-bottom:9px;}


#logo_div{display:inline;}
#main_logo {width:20%;}

#pagename {font-size: 2.3em;font-family: 'Lobster Two';}
#pageteaser{font-size: 0.7em;}

/* Navigation */
#nav_ul{list-style-type:none;display:inherit;}
.nav_li, .nav_li_active{display:inline;border:1px 0px 1px 1px solid orange;border-radius:6px;padding:3px;margin-right:9px;}
a.nav_a {font-size:1.5em;}
#main_nav{font-family: 'Lobster Two';}


footer {border-top: 1px solid orange;padding-top:9px;margin-top:9px;}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }