<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Carsten Klee" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Romanesco' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} &raquo; RSS Feed" href="http://feeds.feedburner.com/collidoscope/">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!-- Apple
<link rel="apple-touch-icon" href="{{ site.url }}/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/touch-icon-iphone4.png">
-->

<!-- http://t.co/dKP3o1e
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width = device-width, content=initial-scale=1.0, user-scalable = no">
<meta name="viewport" content="width=device-width">
 -->

</head>
<body class="{{ page.layout }} post{{ page.id | replace:"/","-" }}">
  <div id="outer">