{% include header.html %}
  <div id="logo_div"><img id="main_logo" src="/images/logo_neu3.png" alt="Logo"></div>
  <div class="title">
    <a href="/">Carsten Klee</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Carsten Klee<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/collidoscope/">github.com/collidoscope</a><br />
        <a href="http://twitter.com/collidoscope/">twitter.com/collidoscope</a><br />
        <a href="http://flickr.com/photos/collidoscope/">flickr.com/photos/collidoscope</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/collidoscope">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
{% include tail.html %}
